<emp-header></emp-header>
<div class="wrapper">


    <div class="breadcrum" style="background-image: url('/Content/img/certificate (1).jpg')">
        <div class="col8">

        </div>

        <div class="col4">
            <div class="headcrum">Customer Service Representative</div>
            <div class="bodycrum"><i class="material-icons">room</i> <i>Marina, Lagos</i></div>
            <div class="bodycrum"><i style="font-size: 12px;margin-top: 3px;">Staff ID: </i> <b>001558</b></div>
        </div>
    </div>


    <div class="searchArea">
        <div class="searchbox">
            <input type="text" placeholder="Search Courses" />
            <i class="material-icons">search</i>
        </div>
    </div>


    <div class="content">
        <div class="col9">


            <div class="boxed">
                <div class="long">
                    <div class="line borderBottomBlue">
                        My Completed Courses
                    </div>
                </div>


                <div class="change">
                    <span>SORT BY</span>
                    <select>
                        <option value="">most recent</option>
                        <option value="">course length</option>
                        <option value="">certificate type</option>
                    </select>
                </div>

            </div>


            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    Innovation: The World's Greatest
                </div>
                <div class="hiderBody">
                    <div class="halves">
                        <div class="slab">
                            <div class="slabL">Started: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Completed: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Original Due Date: </div>
                            <div class="slabR">08 May 17</div>
                        </div>
                    </div>
                    <div class="halves">
                        <button class="btnBlack btnHerd">View/Generate Ceritificate</button>
                        <sup>NB: Certificate will be generated in pdf</sup>
                    </div>
                </div>
            </div>


            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    Innovation: The World's Greatest
                </div>
                <div class="hiderBody">
                    <div class="halves">
                        <div class="slab">
                            <div class="slabL">Started: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Completed: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Original Due Date: </div>
                            <div class="slabR">08 May 17</div>
                        </div>
                    </div>
                    <div class="halves">
                        <button class="btnBlack btnHerd">View/Generate Ceritificate</button>
                        <sup>NB: Certificate will be generated in pdf</sup>
                    </div>
                </div>
            </div>



            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    Innovation: The World's Greatest
                </div>
                <div class="hiderBody">
                    <div class="halves">
                        <div class="slab">
                            <div class="slabL">Started: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Completed: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Original Due Date: </div>
                            <div class="slabR">08 May 17</div>
                        </div>
                    </div>
                    <div class="halves">
                        <button class="btnBlack btnHerd">View/Generate Ceritificate</button>
                        <sup>NB: Certificate will be generated in pdf</sup>
                    </div>
                </div>
            </div>



            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    Innovation: The World's Greatest
                </div>
                <div class="hiderBody">
                    <div class="halves">
                        <div class="slab">
                            <div class="slabL">Started: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Completed: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Original Due Date: </div>
                            <div class="slabR">08 May 17</div>
                        </div>
                    </div>
                    <div class="halves">
                        <button class="btnBlack btnHerd">View/Generate Ceritificate</button>
                        <sup>NB: Certificate will be generated in pdf</sup>
                    </div>
                </div>
            </div>



            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    Innovation: The World's Greatest
                </div>
                <div class="hiderBody">
                    <div class="halves">
                        <div class="slab">
                            <div class="slabL">Started: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Completed: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Original Due Date: </div>
                            <div class="slabR">08 May 17</div>
                        </div>
                    </div>
                    <div class="halves">
                        <button class="btnBlack btnHerd">View/Generate Ceritificate</button>
                        <sup>NB: Certificate will be generated in pdf</sup>
                    </div>
                </div>
            </div>



            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    Innovation: The World's Greatest
                </div>
                <div class="hiderBody">
                    <div class="halves">
                        <div class="slab">
                            <div class="slabL">Started: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Completed: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Original Due Date: </div>
                            <div class="slabR">08 May 17</div>
                        </div>
                    </div>
                    <div class="halves">
                        <button class="btnBlack btnHerd">View/Generate Ceritificate</button>
                        <sup>NB: Certificate will be generated in pdf</sup>
                    </div>
                </div>
            </div>



            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    Innovation: The World's Greatest
                </div>
                <div class="hiderBody">
                    <div class="halves">
                        <div class="slab">
                            <div class="slabL">Started: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Completed: </div>
                            <div class="slabR">08 May 17</div>
                        </div>

                        <div class="slab">
                            <div class="slabL">Original Due Date: </div>
                            <div class="slabR">08 May 17</div>
                        </div>
                    </div>
                    <div class="halves">
                        <button class="btnBlack btnHerd">View/Generate Ceritificate</button>
                        <sup>NB: Certificate will be generated in pdf</sup>
                    </div>
                </div>
            </div>
        </div>

        <div class="col2">


            <div class="pod">
                <div class="line borderBottomGrey">
                    Coming Up  <button class="btnBlue"><i class="material-icons">event</i> <span>View Calendar</span></button>
                </div>

                <div class="podBlock">
                    <div class="podItem">
                        <div class="coupon"><i class="material-icons blue">event</i></div>
                        <div class="list">
                            <span class="blue">General Staff Shop</span>
                            <i>Jan 10, 2018</i>
                        </div>
                    </div>

                    <div class="podItem">
                        <div class="coupon"><i class="material-icons blue">event</i></div>
                        <div class="list">
                            <span class="blue">Live Podcast</span>
                            <i>Jan 10, 2018</i>
                        </div>
                    </div>
                </div>

            </div>



            <div class="space"></div>
            <div class="pod">
                <div class="line borderBottomGrey">Quick Notification</div>


                <div class="podBlock">
                    <div class="podItem">
                        <div class="coupon"><span class="redBackground">05</span></div>
                        <div class="list">
                            <span>Courses are overdue</span>
                        </div>
                    </div>

                    <div class="podItem">
                        <div class="coupon"><span class="yellowBackground">15</span></div>
                        <div class="list">
                            <span>Courses are going to expire in the next 30 days.</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="space"></div>


            <div class="pod">
                <div class="line borderBottomGrey">Awards/Certificates</div>


                <div class="podBlock">
                    <div class="podItem">
                        <div class="half">
                            <div class="blue big">CERTIFICATES </div><b>(3)</b>
                            <p>Your latest certificates</p>
                            <button class="btnBlue">View all</button>
                        </div>

                        <div class="half">
                            <img src="/Content/img/c1.jpg" alt="">
                            <img src="/Content/img/c2.jpg" alt="">
                            <img src="/Content/img/c3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<emp-footer></emp-footer>