<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="SterlingBankDbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=SterlingBankLmstest;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="SterlingBankDbContext" connectionString="Data Source=192.168.1.180;Initial Catalog=SterlingBankDb.SBLMSMay15;Integrated Security=False;User Id=sa;Password=Nuvteq18;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--<add name="SBLMSEntities" connectionString="metadata=res://*/Areas.Common.Models.SBLMSModel.csdl|res://*/Areas.Common.Models.SBLMSModel.ssdl|res://*/Areas.Common.Models.SBLMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.105;initial catalog=SterlingBankDb.SBLMSApr19;integrated security=False;user id=sa;password=Nuvteq18;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="SBLMSEntities" connectionString="metadata=res://*/Areas.Common.Models.SBLMSModel.csdl|res://*/Areas.Common.Models.SBLMSModel.ssdl|res://*/Areas.Common.Models.SBLMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.180;initial catalog=SterlingBankDb.SBLMSMay15;integrated security=False;user id=sa;password=Nuvteq18;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="smtp.server" value="smtp.sendgrid.net" />
    <add key="smtp.password" value="5ajae20dafp3nfyf" />
    <add key="smtp.username" value="azure_dee9c9fda28bac6c179ca1a82c065356@azure.com" />
    <add key="smtp.port" value="25" />
    <add key="smtp.usessl" value="false" />
    <add key="smtp.defaultCredentials" value="false" />

    <add key="app.adminEmail" value="admin@sterlinglms.com" />
    <add key="app.appEmail" value="noreply@sterlinglms.com" />
    <add key="app.servicedeskEmail" value="servicedesk@sterlingbank.com.ng" />
    <add key="app.useActiveDirectory" value="false" />

    <add key="app.ActiveDirectoryUrl" value="http://10.0.0.230/AdAuthentic/Service.asmx" />
    <add key="app.ActiveDirectoryAction" value="http://tempuri.org/ValidateAD" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" />
    <httpModules>
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="Profile" />
      <remove name="PassportAuthentication" />
      <remove name="AnonymousIdentification" />
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />-->
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true">
        <!--<requestLimits maxAllowedContentLength="20971520" />-->
      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="false" />

    <staticContent>
      <remove fileExtension=".mem" />
      <remove fileExtension=".res" />
      <remove fileExtension=".nmf" />
      <remove fileExtension=".cur" />
      <remove fileExtension=".pexe" />
      <remove fileExtension=".mem" />
      <!--<remove  fileExtension=".appcache"/>-->

      <mimeMap fileExtension=".wasm" mimeType="application/webassembly" />
      <mimeMap fileExtension=".res" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".nmf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".cur" mimeType="image/vnd.microsoft.icon" />
      <mimeMap fileExtension=".pexe" mimeType="application/x-pnacl" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <!--<interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="C:\Users\bonuo\source\Workspaces\SterlingBankLms\SterlingBanlLMS\SterlingBankLMS.Web\Temp\OutputFile.txt" />
          <parameter value="true" type="System.Boolean" />
        </parameters>
      </interceptor>
    </interceptors>-->
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>