
<div class="examArea">

    <div class="indit">
        <span><strong>0</strong> of 10 answered</span>

        <div class="inditBack">
            <div class="inditRun" style="width: 0%;"></div>
        </div>
    </div>

    <div class="questionArea">

        <div class="ques">
            <ol>

                <li id="scroll_1">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class? </span>
                    <label for=""><input type="radio" name="ques1" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques1" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques1" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques1" id=""> Option 4</label>
                </li>

                <li id="scroll_2">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques2" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques2" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques2" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques2" id=""> Option 4</label>
                </li>

                <li id="scroll_3">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques3" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques3" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques3" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques3" id=""> Option 4</label>
                </li>

                <li id="scroll_4">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques4" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques4" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques4" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques4" id=""> Option 4</label>
                </li>


                <li id="scroll_5">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques5" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques5" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques5" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques5" id=""> Option 4</label>
                </li>

                <li id="scroll_6">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques6" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques6" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques6" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques6" id=""> Option 4</label>
                </li>

                <li id="scroll_7">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques7" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques7" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques7" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques7" id=""> Option 4</label>
                </li>

                <li id="scroll_8">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques8" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques8" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques8" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques8" id=""> Option 4</label>
                </li>

                <li id="scroll_9">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques9" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques9" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques9" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques9" id=""> Option 4</label>
                </li>

                <li id="scroll_10">
                    <span>How easy or difficult was it to get in contact with your instructor outside of class?</span>
                    <label for=""><input type="radio" name="ques10" id=""> Option 1</label>
                    <label for=""><input type="radio" name="ques10" id=""> Option 2</label>
                    <label for=""><input type="radio" name="ques10" id=""> Option 3</label>
                    <label for=""><input type="radio" name="ques10" id=""> Option 4</label>
                </li>

                <li>

                </li>

            </ol>
        </div>

    </div>

    <button class="btnLarge btnBlue btnCurve">Submit</button>

    <div class="indit">
        <span><strong>0</strong> of 10 answered</span>

        <div class="inditBack">
            <div class="inditRun" style="width: 0%;"></div>
        </div>
    </div>

</div>