@using Vereyon.Web
<style>
    ol li {
        margin-bottom: 10px;
    }
</style>

@{
    ViewBag.Title = "Bulk Uploads";
    Layout = "~/Areas/HumanResources/Views/Shared/_HRLayout.cshtml";
}
<div class="banner1 bkCyanBlue">
    <i class="material-icons menuBtn1">menu</i>
    <span>Bulk Upload Management</span>
</div>

<ol style="margin-top:100px; margin-left:25px" class="txtt">
    <li>Only a Standard Microsoft Excel Sheet .xslx or .xsl should be uploaded.</li>
    <li>The data must be added from the <strong>second (2<sup>nd</sup>)</strong>row.</li>
    <li>Ensure you left no column vacant. If in the case of number, insert 0 (zero) when there is no data to add. In case of strings, insert null when there is nothing to insert</li>
    <li>Kindly note that all columns must correspond with <a href="@Url.Action("DownloadSampleExcel","GeneralMgt",new {fileName="EmpSampleExcel.xlsx" })" class="excel">this sample</a>, else your data will not be uploaded to server. </li>
</ol>


<form enctype="multipart/form-data" method="post" action="~/humanresources/generalmgt/bulkuploads" style="margin-top:10px">
    @Html.RenderFlashMessages()
    <div class="formBox1 fullForm bulkfile" style="margin-top:15px;">
        <label for="">Upload Bulk Group, Department, Region, Branch and Grade</label>
        <input type="file" id="GroupFile" name="upload" style="padding: 30px 30px 0px 30px;" />
        <button type="submit" class="bkTorBlue  btnSmall" style="float:right">Upload</button>
    </div>

</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.certupload').on('click', function () {
                var fileUpload = $("#GroupFile").get(0);


                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                var $button = $(this);
                var prev = $button.html();
                $button.attr('disabled', 'disabled');
                $button.html('Uploading <i class="fa fa-circle-o-notch fa-spin pull-right"></i>');

                $.ajax({
                    url: '/HumanResources/GeneralMgt/UploadGroupDetails',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    async: true,
                    success: function (result) {
                        if (!result.HasError) {
                            $('.bulkfile').find("*").prop("disabled", true);
                            ShowNotie(result);
                            $('#GroupFile').val('');
                            $button.html('<i class="fa fa-upload"></i> Upload');
                            $button.attr('disabled', false);

                        }
                        else {
                            ShowNotie(result);
                            $('#GroupFile').val('');
                            $button.html('<i class="fa fa-upload"></i> Upload');
                            $button.attr('disabled', false);
                        }
                    },
                    error: function (result) {
                        ShowNotie(result);
                        // ShowNotie({ HasError: true, Message: "An error occurred when processing your request" });
                        $button.html('<i class="fa fa-upload"></i> Upload');
                        $button.attr('disabled', false);

                    }
                });

            });

        })
    </script>
}