
@{
    ViewBag.Title = "Manage Courses";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<style>
    .menuTab1 a:nth-child(1) .pageTab1 {
        background: #AB192D;
    }
</style>

<div class="banner1 bkSkyBlue">
    <i class="material-icons menuBtn1">menu</i>
    <span>Manage Courses</span>
</div>


<div class="backdrop"></div>



<div class="content1">

    <div class="learningArea backdropBox">
        <input type="text" placeholder="New Learning Area">
        <button class="btn1 btnMedium btnGreen" type="submit">Add</button>
    </div>

    <div class="learnerGroup backdropBox">
        <input type="text" placeholder="New Learner Group">
        <button class="btn1 btnMedium btnGreen" type="submit">Add</button>
    </div>


    <div class="boxHead1">
        <div class="boxHeader1 bDGreenishBlue">Create</div>
    </div>

    <div class="boxBody1">

        <a href="/Admin/ManageCourse/ViewCourse">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">list</i>
                    <span>View Course List</span>
                </div>
            </div>
        </a>

        <a href="/Admin/ManageCourse/AddCourse">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">library_add</i>
                    <span>New Course</span>
                </div>
            </div>
        </a>


        <a href="/Admin/BulkUpload/Course">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">library_add</i>
                    <span>Course Bulk Upload</span>
                </div>
            </div>
        </a>


        <a href="/Admin/ManageCourse/LearningArea" class="addNewLearningArea">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">folder_open</i>
                    <span>New Learning Area</span>
                </div>
            </div>
        </a>



        <a href="/Admin/LearningGroup" class="addNewLearnerGroup">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">folder</i>
                    <span>Learner Groups</span>
                </div>
            </div>
        </a>



    </div>





    <div class="boxHead1">
        <div class="boxHeader1 bDGreenishBlue">Assign</div>
    </div>

    <div class="boxBody1">

        <a href="/Admin/ManageCourse/Assign">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">swap_horiz</i>
                    <span>Assign Course</span>
                </div>
            </div>
        </a>


    </div>







    @*<div class="boxHead1">
        <div class="boxHeader1 bDGreenishBlue">Manage course contents</div>
    </div>

    <div class="boxBody1">

        <a href="#">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">info</i>
                    <span>Course Reviews</span>
                </div>
            </div>
        </a>


        <a href="#">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">delete</i>
                    <span>View/Review Courses</span>
                </div>
            </div>
        </a>



        <a href="#">
            <div class="bigMenu1">
                <div class="smallMenu1">
                    <i class="material-icons">assignment_returned</i>
                    <span>Third Party Integration</span>
                </div>
            </div>
        </a>



    </div>*@


</div>



