@using SterlingBankLMS.Data.Models.Enums;
@model ManagePageModel
@{
    ViewBag.Title = "New Survey Template";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section head{
    <style>
        .tanHP {
            background: #fff;
            border-radius: 0;
        }

        .searchT {
            border: 1px solid #eee;
        }

        .pinA select {
            border: 1px solid #ddd;
        }

        .pinA span {
            font-weight: bold;
            margin-top: 3px;
        }


        table.courselist {
            width: 100%;
            font-size: 13px;
            border: 1px solid #eaeaea !important;
        }

        .courselist thead {
            width: 100%;
            color: #19535f;
            font-weight: bold;
            font-size: 13px;
            border-top: 0px solid transparent;
            background: #ddd;
            font-weight: bold;
            font-size: 13px;
            border-bottom: 2px solid #28A7BE;
        }

        .courselist tbody {
            width: 100%;
        }

        .courselist tr {
            width: 100%;
        }

        .courselist tbody tr:last-child {
            border: none;
        }

        .courselist tr td {
            padding: 10px;
        }

            .courselist tr td:nth-child(1) {
                width: 25% !important;
            }

            .courselist tr td:nth-child(2) {
                width: 20% !important;
            }

        .courselist tbody tr td:nth-child(1) {
            border-right: 2px solid #f0f3f5;
        }

        .courselist tr td a {
            color: #00d7ff;
        }

        .courselist tr td:nth-child(3), .courselist tr td:nth-child(4), .courselist tr td:nth-child(5), .courselist tr td:nth-child(6) {
            width: 10% !important;
        }

        .courselist tr td:nth-child(4) {
            width: 30% !important;
        }

        .courselist tbody tr {
            margin-top: 0px;
            border-bottom: 2px solid #f0f3f5;
        }

            .courselist tbody tr td a button {
                margin: 0;
            }

        .counter {
            padding: 10px;
            float: right;
            font-size: 15px;
            background: #ddd;
            width: 100%;
        }

            .counter i {
                background: #fff;
                color: #000;
            }

        table.courselist tr.empty td {
            width: 100% !important;
            display: block !important;
            border: 1px solid #eaeaea !important;
            display: block !important;
            height: 200px;
            font-size: 26px;
            padding: 32px;
            text-align: center;
        }
    </style>
   
    <link href="~/Content/css/tags_editor.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style>
        .form-group {
            margin-bottom: 30px
        }
    </style>
}


<div class="banner1 bkSkyBlue">
    <i class="material-icons menuBtn1">menu</i>
    <span>Survey Template</span>
</div>




<div class="content1" style="min-height: 90vh;">
    <div class="boxHead1" style="border-bottom:none">

        <button class="btn bkSkyBlue viewManagePanel" style="margin-bottom: 10px;float: right;@(Model.New ? Html.Raw("display:none"): Html.Raw(""))">
            Template Management <i class="fa fa-cogs"></i>
        </button>
        <button class="btn bkPurple viewListPanel" style="margin-bottom: 10px;float: right;@(Model.New ? Html.Raw(""):Html.Raw("display:none"))">
            View Templates <i class="fa fa-tasks"></i>
        </button>
    </div>


    <div id="listPanel" style="width:100%;@(Model.New ? Html.Raw("display:none") : Html.Raw(""))">

        <div class="tableRanch">

            <table id="SurveyTable" class="courselist">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Questions Count</td>
                        <td>Used</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tr class="empty">
                    <td colspan="4">
                        Fetching Data <br><br><i class="fa fa-spinner fa-pulse fa-2x fa-fw nofloat"></i>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="managePanel" style="margin-top: 20px;width:100%;@(Model.New ? Html.Raw(""): Html.Raw("display:none"))">

        <div class="boxHead1" style="margin-bottom:30px">
            <div class="boxHeader1 bDGreen">
                Create New Survey Template
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

               
                    <div class="form-group">
                        <label for="">Template Title:</label>
                        <input type="text" name="Name" id="TemplateName" class="form-control" />
                    </div>
              

                    <div class="boxHeader1 bDPurple" style="margin-bottom:20px">Template Questions</div>

                    <div class="boxBody1 uploadBox" style="padding:30px" id="QuestionHolder">
                        <button id="reSortTemplate" style="float: left;margin-left: 15px;">
                            Re-Sort Items
                        </button>

                    </div>

              

                <div class="underlineBtn">
                    <input name="Id" id="TemplateID" type="hidden" value="0" />
                </div>


            </div>
          </div>
            




        </div>



</div>

@section scripts{
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/additional-methods.min.js"></script>
    <script src="~/Content/js/CustomValidation.js"></script>
    <script src="~/Content/PageJs/Admin_SurveyTemplate.js"></script>
    <script src="~/Content/js/datatables.min.js"></script>
    <script src="~/Content/js/jquery-ui-sortable.min.js"></script>
    <script src="~/Content/js/jquery.caret.min.js"></script>
    <script src="~/Content/js/jquery.tag-editor.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/select2.min.js"></script>
}

