
@{
    ViewBag.Title = "Ticket Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="banner1 bkDarkBlue">
    <i class="material-icons menuBtn1">menu</i>
    <span>Support Center</span>
</div>





