
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bad Request</title>
</head>
<body>
    <div>
        Bad request
    </div>
</body>
</html>
