<header>
    <i class="material-icons menuBtn">menu</i>
    <img src="/Content/img/retro.png" alt="">
    <img src="/Content/img/logo.png" class="marginImg" alt="">

    <ul>
        <li class="msg"><i class="material-icons">email</i><span class="redBackground">2</span></li>
        <li class="noty"><i class="material-icons">notifications_none</i><span>3</span></li>
        <li class="user"><i class="material-icons">person</i><h6>Welcome <b>{{LoggedInUser}}</b></h6> <i class="material-icons">arrow_drop_down</i></li>
        <li>
            <a href="#"><i class="material-icons">settings</i></a>
        </li>

    </ul>
</header>