<div class="pallete1">
    <div class="banner1 bkSkyBlue">
        <i class="material-icons menuBtn1">menu</i>
        <span>Multi-Tenant User</span>
    </div>



    <div class="content1">
        <div class="boxed1">

            <div class="boxHead1">
                <div class="boxHeader1 bBYellow">Quick Actions</div>
            </div>

            <div class="boxBody1">

                <div class="pad1 col41 bkPurple">
                    <i class="material-icons">note_add</i>
                    <div class="vintage1">Add Organisation</div>
                </div>

                <div class="pad1 col41 bkPurpleBlue">
                    <i class="material-icons">group</i>
                    <div class="vintage1">Total Learners</div>
                </div>

                <div class="pad1 col41 bkDarkPink">
                    <i class="material-icons">account_balance</i>
                    <div class="vintage1">Active Organisations</div>
                </div>

                <div class="pad1 col41 bkPink">
                    <i class="material-icons">book</i>
                    <div class="vintage1">Active Courses</div>
                </div>

            </div>

        </div>


        <div class="boxed1">

            <div class="boxHead1">
                <div class="boxHeader1 bBYellow">Recently added Organisations</div>
            </div>

            <div class="boxBody1">

                <table class="org1">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Names</th>
                            <th>Date Created</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Organisation 1</td>
                            <td>April 25, 2017</td>
                            <td>
                                <a href=""><i class="material-icons">edit</i><span>Edit</span></a>
                                <a href=""><i class="material-icons">visibility</i><span>View</span></a>
                                <a href=""><i class="material-icons">assignment</i><span>Generate Report</span></a>
                            </td>
                            <td>
                                <div class="btn1 btnGreen">Activate</div>
                            </td>


                        <tr>
                            <td>2</td>
                            <td>Organisation 1</td>
                            <td>April 25, 2017</td>
                            <td>
                                <a href=""><i class="material-icons">edit</i><span>Edit</span></a>
                                <a href=""><i class="material-icons">visibility</i><span>View</span></a>
                                <a href=""><i class="material-icons">assignment</i><span>Generate Report</span></a>
                            </td>
                            <td>
                                <div class="btn1 btnGreen">Activate</div>
                            </td>
                        </tr>



                        <tr>
                            <td>3</td>
                            <td>Organisation 1</td>
                            <td>April 25, 2017</td>
                            <td>
                                <a href=""><i class="material-icons">edit</i><span>Edit</span></a>
                                <a href=""><i class="material-icons">visibility</i><span>View</span></a>
                                <a href=""><i class="material-icons">assignment</i><span>Generate Report</span></a>
                            </td>
                            <td>
                                <div class="btn1 btnRed">Deactivate</div>
                            </td>
                        </tr>



                        <tr>
                            <td>4</td>
                            <td>Organisation 1</td>
                            <td>April 25, 2017</td>
                            <td>
                                <a href=""><i class="material-icons">edit</i><span>Edit</span></a>
                                <a href=""><i class="material-icons">visibility</i><span>View</span></a>
                                <a href=""><i class="material-icons">assignment</i><span>Generate Report</span></a>
                            </td>
                            <td>
                                <div class="btn1 btnRed">Deactivate</div>
                            </td>
                        </tr>



                        <tr>
                            <td>5</td>
                            <td>Organisation 1</td>
                            <td>April 25, 2017</td>
                            <td>
                                <a href=""><i class="material-icons">edit</i><span>Edit</span></a>
                                <a href=""><i class="material-icons">visibility</i><span>View</span></a>
                                <a href=""><i class="material-icons">assignment</i><span>Generate Report</span></a>
                            </td>
                            <td>
                                <div class="btn1 btnGreen">Activate</div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
        </div>

    </div>
    <admin-header></admin-header>

    <admin-footer></admin-footer>
