<div class="col2">


    <div class="pod">
        <div class="line borderBottomGrey">
            Coming Up  <button class="btnBlue"><i class="material-icons">event</i> <span>View Calendar</span></button>
        </div>

        <div class="podBlock">
            <div class="podItem">
                <div class="coupon"><i class="material-icons blue">event</i></div>
                <div class="list">
                    <span class="blue">General Staff Shop</span>
                    <i>Jan 10, 2018</i>
                </div>
            </div>

            <div class="podItem">
                <div class="coupon"><i class="material-icons blue">event</i></div>
                <div class="list">
                    <span class="blue">Live Podcast</span>
                    <i>Jan 10, 2018</i>
                </div>
            </div>
        </div>

    </div>



    <div class="space"></div>
    <div class="pod">
        <div class="line borderBottomGrey">Quick Notification</div>


        <div class="podBlock">
            <div class="podItem">
                <div class="coupon"><span class="redBackground">05</span></div>
                <div class="list">
                    <span>Courses are overdue</span>
                </div>
            </div>

            <div class="podItem">
                <div class="coupon"><span class="yellowBackground">15</span></div>
                <div class="list">
                    <span>Courses are going to expire in the next 30 days.</span>
                </div>
            </div>
        </div>
    </div>


    <div class="space"></div>


    <div class="pod">
        <div class="line borderBottomGrey">Awards/Certificates</div>


        <div class="podBlock">
            <div class="podItem">
                <div class="half">
                    <div class="blue big">CERTIFICATES </div><b>(3)</b>
                    <p>Your latest certificates</p>
                    <button class="btnBlue">View all</button>
                </div>

                <div class="half">
                    <img src="/Content/img/c1.jpg" alt="">
                    <img src="/Content/img/c2.jpg" alt="">
                    <img src="/Content/img/c3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


</div>
