<div class="barb">
    <span>Finish Course</span>
    <strong>✓</strong>
    <p>All contents has been accessed. Click to finish course</p>
    <center><button ng-click="vm.markCourseCompleted()" class="btn btnMedium btnBlue">Finish</button></center>
</div>