<div class="viewArea" ng-init="vm.allowTakeExam('@Url.Content("~/api/courselearningarea/getusercantakecourseexam")')">
    <div class="quizArea">
        <div class="sest quesSelect">
            <div class="nani">
                Course Examination
            </div>

            <ui-view>
            </ui-view>
        </div>
    </div>
</div>