<div class="barb">
    <span>Course Completed</span>
    <p>Thanks for finishing this course!</p>
    <center><button ng-click="vm.gotoProgress('@Url.Content("~/course/finshedcourses")')" class="btn btnMedium btnBlue">View Certificate</button></center>
</div>