<div class="barb">
    <span>Survey Completed</span>
    <p>Thanks for Completing the survey, You can now continue</p>
    <center><button ng-click="vm.gotoCompleteCourse()" class="btn btnMedium btnBlue">Continue</button></center>
</div>