<div class="viewArea" ng-init="vm.allowTakeQuiz('@Url.Content("~/api/courselearningarea/getusercantakequiz")')">
    <div class="quizArea">
        <div class="sest quesSelect">
            <div class="nani">
                Course Quiz
            </div>
            <ui-view>
            </ui-view>
        </div>
    </div>
</div>