<div class="barb">
    <span>Course Survey</span>
    <strong>?</strong>
    <p>This course has a required Survey. Please Take survey to continue!</p>
    <center><button ng-click="vm.startSurvey()" class="btn btnMedium btnBlue">Start Survey</button></center>
</div>