<div class="barb">
    <span>Course Quiz</span>
    <strong>?</strong>
    <p>Take this short quiz to check what you have learned!</p>
    <center><button ng-click="vm.gotoQuiz()" class="btn btnMedium btnBlue">Start Quiz</button></center>
</div>