<div class="viewArea" ng-init="vm.getSurveyQuestions()">
    <div class="quizArea">
        <div class="sest quesSelect">
            <div class="nani">
                Course Survey
            </div>

            <ui-view>
            </ui-view>
        </div>
    </div>
</div>