<!-- Messages Popup -->
<div class="msgBox popBox">
    <div class="hD">Messages</div>
    <div class="bD">

        <!-- INfo Tab -->
        <div class="infoTab">
            <b>Admin</b>
            <a href="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
            <div class="infoAct">Mark as read</div>
        </div>
        <!-- end of InfoTab -->
        <!-- INfo Tab -->
        <div class="infoTab">
            <b>Admin</b>
            <a href="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
            <div class="infoAct">Mark as read</div>
        </div>
        <!-- end of InfoTab -->
        <!-- INfo Tab -->
        <div class="infoTab">
            <b>Admin</b>
            <a href="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
            <div class="infoAct">Mark as read</div>
        </div>
        <!-- end of InfoTab -->
        <!-- INfo Tab -->
        <div class="infoTab">
            <b>Admin</b>
            <a href="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
            <div class="infoAct">Mark as read</div>
        </div>
        <!-- end of InfoTab -->
        <!-- INfo Tab -->
        <div class="infoTab">
            <b>Admin</b>
            <a href="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
            <div class="infoAct">Mark as read</div>
        </div>
        <!-- end of InfoTab -->
        <!-- INfo Tab -->
        <div class="infoTab">
            <b>Admin</b>
            <a href="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
            <div class="infoAct">Mark as read</div>
        </div>
        <!-- end of InfoTab -->




    </div>

    <a class="eD" href="#">
        View All Messages
    </a>
</div>
<!-- end of Messages Popup -->
<!-- Notification Popup -->

<div class="notyBox popBox">
    <div class="hD">Notification</div>
    <div class="bD">

        <!-- INfo Tab -->
        <div class="infoTab">
            <a href="#">
                <p>You have just <b>3 days</b> to complete your <b>Employment Changes in Tech</b> Course</p>
            </a>
            <div class="infoAct">View</div>
        </div>
        <!-- end of InfoTab -->



    </div>

    <a class="eD" href="#">
        View All Notifications
    </a>
</div>

<!-- end of Notification Popup -->
<!-- profile box -->

<div class="probBox">
    <a href="profile">
        <span class="probTab">Profile</span>
    </a>

    <a href="">
        <span class="probTab">Logout</span>
    </a>
</div>

<!-- end of profile box -->




<header class="second">
    <i class="material-icons menuBtn1">menu</i>
    <img src="/Content//img/retro.png" alt="">
    <img src="/Content/img/logo.png" class="marginImg" alt="">
    <ul>
        <li class="msg">
            <i class="material-icons">email</i><span class="redBackground">2</span>
        </li>
        <li class="noty">
            <i class="material-icons">notifications_none</i><span>19</span>
        </li>
        <li class="user">
            <i class="material-icons">person</i>
            <h6>Welcome <b>Samuel</b></h6>  <i class="material-icons">arrow_drop_down</i>
        </li>

        <li>
            <a href="#"><i class="material-icons">settings</i></a>
        </li>
    </ul>
</header>





<div class="menuTab1">
    <ul>
        <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/admin/dashboard']">
                <div class="pageTab1">
                    <i class="material-icons">library_books</i>
                    <span>Manage Courses</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">folder</i>
                    <span>Employee Records</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">email</i>
                    <span>Messages</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">event</i>
                    <span>Training Management</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">settings</i>
                    <span>Support Center</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">list</i>
                    <span>Reports</span>
                </div>
            </a>

        </li>
        <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/admin/multi-tenant']">
                <div class="pageTab1">
                    <i class="material-icons">star</i>
                    <span>Multi-Tenant LMS</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">content_copy</i>
                    <span>Examination</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">group</i>
                    <span>User Management</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">payment</i>
                    <span>Surveys/Course Feedbacks</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">work</i>
                    <span>Advert Management</span>
                </div>
            </a>

        </li>
        <li>
            <a href="#">
                <div class="pageTab1">
                    <i class="material-icons">wifi</i>
                    <span>Discussion Management</span>
                </div>
            </a>

        </li>
    </ul>
</div>

