@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>
    <div class="col-md-3-offset col-md-6 text-danger" style="color:red; text-align:center">
        Access was denied for this request
    </div>
</body>
</html>