@model ForgetPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}

<div class="live">
    <div class="double">
        <div class="welcome">
            <div class="up">Welcome to <b>Sterling Bank</b></div>
            <div class="down">Learning Management System</div>
        </div>
    </div>
    <div class="double2">
        <div class="loginBox">
            <div class="loginTop">
                <div class="nick">
                    <i class="material-icons">person</i><span>Forgot Password</span>
                </div>
            </div>

            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
                <div class="inputwrapper login-alert" style="display:block">
                    <div class="alert alert-error" style="color:#ea7e7e">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
            }

            <form method="post" class="loginForm">
                @Html.AntiForgeryToken()
                <label for="Email">Email address</label>
                <input type="email" name="Email" autocomplete="off" value="@(Model?.Email)"/>
                <input type="submit" value="Reset Password">
                <h5><a href="~/authentication/login">Login to your account</a></h5>
            </form>
        </div>
    </div>
</div>