 
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mail Exempt</title>
</head>
<body>
    <div class="col-md-6 col-md-offset-3"> 
        <div class="label label-success">@ViewBag.UserEmail have been successfully unsuscribed from this mail. We are sorry to see you go.</div>
    </div>
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>
