
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password Reset Status</title>
</head>
<body>
    <div> 
        Password reset was successful.
    </div>
    <a href="~/">Home</a>
</body>
</html>