
@model PasswordResetModel
@{
    ViewBag.Title = "Reset your password";
}

<div class="live">
    <div class="double">
        <div class="welcome">
            <div class="up">Welcome to <b>Sterling Bank</b></div>
            <div class="down">Learning Management System</div>
        </div>
    </div>
    <div class="double2">
        <div class="loginBox">
            <div class="loginTop">
                <div class="nick">
                    <i class="material-icons">person</i><span>Reset Password</span>
                </div>
            </div>

            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) {
                <div class="inputwrapper login-alert" style="display:block">
                    <div class="alert alert-error">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
            }

            <form method="post" class="loginForm">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Code)
                @Html.HiddenFor(x => x.Email)
                <label for="Password">New Password</label>
                <input type="password" name="Password" />
                <label for="Password">Confirm Password</label>
                <input type="password" name="Password" />

                <input type="submit" value="RESET PASSWORD">

                <h5><a href="~/authentication/login">Login</a></h5>
            </form>
        </div>
    </div>
</div>