<emp-header></emp-header>
<div class="wrapper">


    <div class="breadcrum" style="background-image: url('/Content/img/support (1).jpg');">
        <div class="col8">

        </div>

        <div class="col4">
            <div class="headcrum">Customer Service Representative</div>
            <div class="bodycrum"><i class="material-icons">room</i> <i>Marina, Lagos</i></div>
            <div class="bodycrum"><i style="font-size: 12px;margin-top: 3px;">Staff ID: </i> <b>001558</b></div>
        </div>
    </div>


    <div class="searchArea">
        <div class="searchbox">
            <input type="text" placeholder="Search Courses" />
            <i class="material-icons">search</i>
        </div>
    </div>


    <div class="content">
        <div class="col9">

            <div class="bigHead" id="temp1">Frequently Asked Questions</div>
            <div class="underline"></div>


            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    I'm having trouble signing in
                </div>
                <div class="hiderBody">
                    <p style="font-weight: bold;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at elementum. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Vel pretium lectus quam id leo in vitae turpis. <br><br>Nisi scelerisque eu ultrices vitae. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Eget aliquet nibh praesent tristique magna sit amet. Id diam maecenas ultricies mi eget mauris pharetra et. Egestas dui id ornare arcu odio ut sem nulla.
                    </p>
                </div>
            </div>


            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    I'm having trouble signing in
                </div>
                <div class="hiderBody">
                    <p style="font-weight: bold;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at elementum. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Vel pretium lectus quam id leo in vitae turpis. <br><br>Nisi scelerisque eu ultrices vitae. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Eget aliquet nibh praesent tristique magna sit amet. Id diam maecenas ultricies mi eget mauris pharetra et. Egestas dui id ornare arcu odio ut sem nulla.
                    </p>
                </div>
            </div>


            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    I forgot my password, How can I reset it?
                </div>
                <div class="hiderBody">
                    <p style="font-weight: bold;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at elementum. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Vel pretium lectus quam id leo in vitae turpis. <br><br>Nisi scelerisque eu ultrices vitae. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Eget aliquet nibh praesent tristique magna sit amet. Id diam maecenas ultricies mi eget mauris pharetra et. Egestas dui id ornare arcu odio ut sem nulla.
                    </p>
                </div>
            </div>


            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    I'm not receiving emails from my course
                </div>
                <div class="hiderBody">
                    <p style="font-weight: bold;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at elementum. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Vel pretium lectus quam id leo in vitae turpis. <br><br>Nisi scelerisque eu ultrices vitae. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Eget aliquet nibh praesent tristique magna sit amet. Id diam maecenas ultricies mi eget mauris pharetra et. Egestas dui id ornare arcu odio ut sem nulla.
                    </p>
                </div>
            </div>


            <div class="hider">
                <div class="hiderHead">
                    <i class="material-icons">keyboard_arrow_down</i>
                    How can I reset my courses
                </div>
                <div class="hiderBody">
                    <p style="font-weight: bold;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at elementum. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Vel pretium lectus quam id leo in vitae turpis. <br><br>Nisi scelerisque eu ultrices vitae. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Eget aliquet nibh praesent tristique magna sit amet. Id diam maecenas ultricies mi eget mauris pharetra et. Egestas dui id ornare arcu odio ut sem nulla.
                    </p>
                </div>
            </div>



            <div class="bigHead red">Didn't find what you're looking for?</div>
            <div class="bigHead" style="margin-top: 0px;">report a problem below</div>




            <form class="report">
                <label for="">Your staff id:</label>
                <input type="text">

                <label for="">Subject:</label>
                <input type="text">

                <label for="">Describe the problem you encountered here</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>

                <label for=""><span>Upload a screenshot</span> <i class="red">.jpg, .bmp, .png</i></label>
                <input type="file">


                <button class="btnBlue btnMid">Report</button>
            </form>

            </div>
            <div class="col2">


                <div class="pod">
                    <div class="line borderBottomGrey">
                        Coming Up  <button class="btnBlue"><i class="material-icons">event</i> <span>View Calendar</span></button>
                    </div>

                    <div class="podBlock">
                        <div class="podItem">
                            <div class="coupon"><i class="material-icons blue">event</i></div>
                            <div class="list">
                                <span class="blue">General Staff Shop</span>
                                <i>Jan 10, 2018</i>
                            </div>
                        </div>

                        <div class="podItem">
                            <div class="coupon"><i class="material-icons blue">event</i></div>
                            <div class="list">
                                <span class="blue">Live Podcast</span>
                                <i>Jan 10, 2018</i>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="space"></div>
                <div class="pod">
                    <div class="line borderBottomGrey">Quick Notification</div>


                    <div class="podBlock">
                        <div class="podItem">
                            <div class="coupon"><span class="redBackground">05</span></div>
                            <div class="list">
                                <span>Courses are overdue</span>
                            </div>
                        </div>

                        <div class="podItem">
                            <div class="coupon"><span class="yellowBackground">15</span></div>
                            <div class="list">
                                <span>Courses are going to expire in the next 30 days.</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="space"></div>


                <div class="pod">
                    <div class="line borderBottomGrey">Awards/Certificates</div>


                    <div class="podBlock">
                        <div class="podItem">
                            <div class="half">
                                <div class="blue big">CERTIFICATES </div><b>(3)</b>
                                <p>Your latest certificates</p>
                                <button class="btnBlue">View all</button>
                            </div>

                            <div class="half">
                                <img src="/Content/img/c1.jpg" alt="">
                                <img src="/Content/img/c2.jpg" alt="">
                                <img src="/Content/img/c3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
</div>
<emp-footer></emp-footer>