<emp-header></emp-header>
<div class="wrapper">

    <div class="breadcrum"style="background-image: url('/Content/img/profile (1).jpg')">
        <div class="col8"></div>

        <div class="col4">
            <div class="headcrum">Customer Service Representative</div>
            <div class="bodycrum">
                <i class="material-icons">room</i>  <i>Marina, Lagos</i>
            </div>
            <div class="bodycrum">
                <i style="font-size: 12px;margin-top: 3px;">Staff ID: </i>  <b>001558</b>
            </div>
        </div>

    </div>


    <div class="searchArea" style="background:#b1cecd">
        <div class="searchbox">
            <input type="text" placeholder="Search Courses" /> <i class="material-icons">search</i>
        </div>
    </div>




    <div class="content">

        <div class="col12">

            <div class="long">
                <div class="line borderBottomBlue">My Personal Information</div>
            </div>


            <div class="profile">
                <div class="prob">
                    <div class="label">Staff ID:</div>
                    <div class="input"><input class="halfer" type="text" disabled value="001238"></div>
                </div>

                <div class="prob">
                    <div class="label">First Name:</div>
                    <div class="input"><input type="text" disabled value="SAMUEL OLUWAFEMI"></div>
                </div>

                <div class="prob">
                    <div class="label">Last Name:</div>
                    <div class="input"><input type="text" disabled value="OLUMOYEKE"></div>
                </div>

                <div class="prob">
                    <div class="label">Gender:</div>
                    <div class="input"><input type="text" class="halfer" disabled value="MALE"></div>
                </div>

                <div class="prob">
                    <div class="label">Username:</div>
                    <div class="input"><input type="text" disabled value="solumoyeke"></div>
                </div>

                <div class="prob">
                    <div class="label">Email:</div>
                    <div class="input"><input type="text" disabled value="samuelolumoyeke@sterlingbankng.com"></div>
                </div>

                <div class="prob">
                    <div class="label">Phone:</div>
                    <div class="input">
                        <input class="halfer" type="text" disabled value="08012345678">
                        <input class="halfer" type="text" disabled value="">
                    </div>
                </div>

                <div class="prob">
                    <div class="label">Residence Address:</div>
                    <div class="input"><input type="text" disabled value="10, Ogundare Street"></div>
                </div>

                <div class="prob">
                    <div class="label">City:</div>
                    <div class="input"><input type="text" disabled value="Lagos Mainland"></div>
                </div>

                <div class="prob">
                    <div class="label">State:</div>
                    <div class="input"><input type="text" disabled value="Lagos"></div>
                </div>

                <div class="prob">
                    <div class="label">Country:</div>
                    <div class="input"><input type="text" disabled value="Nigeria"></div>
                </div>

                <div class="prob">
                    <div class="label">Location:</div>
                    <div class="input"><input type="text" disabled value="HEAD OFFICE"></div>
                </div>

                <div class="prob">
                    <div class="label">Department:</div>
                    <div class="input"><input type="text" disabled value="Human Resource Management"></div>
                </div>


                <div class="prob">
                    <div class="label">Job Title:</div>
                    <div class="input"><input type="text" disabled value="HRM - Career Development and Talent Management"></div>
                </div>

                <div class="prob">
                    <div class="label">Role:</div>
                    <div class="input"><input type="text" disabled value="Senior Executive"></div>
                </div>


            </div>

        </div>
    </div>
</div>
<emp-footer></emp-footer>